/*!---------- 4. COLOURS ----------*/
/*!---------- @hyperblu: #2B87DA; ----------*/
/*!---------- @dustsrtorm: #E8D1C0; ----------*/
/*  @wenge: #695F54 */
.bg-primary {
  background: #B4A17E !important;
}
.bg-secondary {
  background: #F7F6F2;
}
.bg-white {
  background: #fff;
}
.bg-dark {
  background: #505B66;
}
.color-body {
  color: #EED9BD;
}
.color-primary {
  color: #B4A17E !important;
}
.color-red {
  color: #e31d3b !important;
}
.color-white {
  color: #fff;
}
